.footer-row {
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}
.footer-links {
    display: flex;
}
.footer-link a img {
    width: 100%;
    object-fit: cover;
}
.footer-link a {
    width: 100%;
}
.footer-link {
    width: 30px;
    margin: 10px;
}
.svg-icon:hover {
    fill: black;
}

@media (max-width: 425px) {
    .footer-links {
        order: 0;
        justify-content: center;
    }
    .footer-link {
        width: 35px;
    }
    .footer-title {
        order: 1;
    }
    .footer-title {
        text-align: center;
    }
}