.header {
    position: fixed;
    top: 0;
    z-index: 1;
    color: white;
    transition: background-color .3s;
    padding: 15px;
    background-color: var(--secondary-color);
    height: 100%;
}
.logo img {
    width: 35%;
}
.nav-menu {
    padding-top: 75px;
}
.nav-menu li {
    padding: 15px;
    flex: none;
}
.nav-menu li > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    transition: color .1s;
}
.nav-menu li > a:hover{
    color: var(--fifth-color);
}
.nav-menu li > a.active {
    color: var(--primary-color);
    animation-duration: 0.1s;
    /* animation-name: textflickerMini; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes textflickerMini {
    from {
      text-shadow: 0.25px 0 0 #ea36af, -0.5px 0 0 #75fa69;
    }
    to {
      text-shadow: 0.5px 0.125px 1px #ea36af, -0.25px -0.125px .5px #75fa69;
    }
}
.mobile-header {
    position: fixed;
    width: 100%;
    z-index: 200;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-header.visible {
    background-color: var(--secondary-color);
    animation: neonFlicker 4s linear infinite;
}
@keyframes neonFlicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        box-shadow: 0 1px 30px var(--fourth-color);

    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        box-shadow: none;

    }
}
.header-burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
}
.header-burger span {
    display: block;
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
    transition: .3s;
    transform-origin: center;
}
.header-burger span:nth-child(1) {
    top: 0;
}
.header-burger span:nth-child(2) {
    top: 50%;
}
.header-burger span:nth-child(3) {
    top: 100%;
}
.header-burger.show-burger span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}
.header-burger.show-burger span:nth-child(2) {
    transform: scale(0);
}
.header-burger.show-burger span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
}
.location {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.location p {
    text-transform: uppercase;
}

@media(max-width: 768px) {
    .nav-menu {
        padding-top: 60px;
    }
    .logo img {
        width: 25%;
    }
    .location {
        display: block;
    }
    .mobile-header {
        padding: 10px;
    }
}

/* Player */
.player {
    display: flex;
    align-items: center;
}
.player-btn {
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    transition: transform .3s;
}
.player-btn.sided {
    transform: translateX(30px);
}
.player-btn img {
    width: 45%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.player-next {
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.player-next.visible {
    opacity: 1;
    visibility: visible;
}
.player-next img {
    width: 45%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.time-code-section {
    margin-right: 10px;
    display: block;
    visibility: hidden;
    position: relative;
    opacity: 0;
    transition: .5s;
}
.time-code-section.visible {
    opacity: 1;
    visibility: visible;
}

.time-bar-section {
    position: relative;
    margin-top: 2px;
    height: 3px;
    visibility: hidden;
}
.time-bar-section.visible {
    visibility: visible;
}
.time-bar {
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    z-index: 2;
}
.time-bar-bottom {
    height: 100%;
    width: 100%;
    background-color: var(--third-color);
    position: absolute;
    left: 0;
}
.audio-status {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    z-index: 2;
    display: none;
    animation: loading 1s infinite ease-in-out;
}

.audio-status.visible {
    display: block;
}
@keyframes loading {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.visualizer {
    width: 30px;
    height: 25px;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}
.visualizer.visible {
    opacity: 1;
    visibility: visible;
}
.visualizer span {
    background-color: white;
    margin: 0 1px;
    margin-bottom: 3px;
    min-height: 1px;
    transform-origin: center;
}

