.wrapper {
    position: absolute;
    left: 0;
    z-index: 100;
    transition: transform .3s;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.wrapper.show-menu {
    transform: translateX(155px);
}
/* Welcome Screen */
.welcome-section {
    height: 100vh;
    position: relative;
}
.welcome-section > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.welcome-section > .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: inherit;
}
.welcome-container {
    display: flex;
    align-items: center;
}
.welcome-row {
    justify-content: center;
    width: 100%;
}
h1 {
    text-align: center;
    font-family: 'Lowrider Bold Italic';
    font-size: 72px;
    animation-duration: 0.08s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h1 > span {
    color: var(--primary-color)
}
.welcome-content p {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'stormfaze';
    color: var(--fifth-color);
}
.welcome-content p span {
    animation-duration: 5s;
    animation-name: colorChanger;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes colorChanger {
    from {color: var(--fourth-color)}
    to {color: var(--primary-color)}
}
.go-button {
    display: block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    text-transform: uppercase;
    font-family: 'Lowrider Bold Italic';
    font-size: 26px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    animation-duration: 1s;
    animation-name: btn-opacity;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
.go-button img {
    width: 70%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
}
.go-button p {
    font-family: 'VCR Mono';
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    animation-duration: 0.08s;
    animation-name: textflickerMini;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes btn-opacity {
    from {opacity: .5;}
    to {opacity: 1;}
}

@keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
  }


@media(max-width: 767px) {
    h1 {
        font-size: 48px;
    }
    .welcome-content p {
        font-size: 32px;
    }
    .welcome-row {
        width: unset;
    }
}
/* SECTIONS */
.light {
    background-color: var(--third-color);
}
.dark {
    background-color: var(--secondary-color);
}
.content {
    padding: 30px 0;
}
.section-title {
    font-size: 30px;
    font-family: 'saved by zero';
    margin-bottom: 20px;
    color: var(--fifth-color);
}
.light h2 {
    text-align: start;
}
.dark h2 {
    text-align: end;
}
p {
    padding: 10px 0;
    font-size: 18px;
}
section img {
    width: 100%;
    object-fit: cover;
}
@media(max-width: 767px) {
    .section-title {
        font-size: 24px;
    }
}
.who-am-i-section {
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/welcome-screen-background2.webp);
}