.wrapper {
    position: absolute;
    left: 0;
    z-index: 100;
    transition: transform .3s;
    flex: 1;
    height: 100%;
}
.wrapper.show-menu {
    transform: translateX(155px);
    animation: neonFlickerPrimary 3s linear infinite;
}
@keyframes neonFlickerPrimary {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        box-shadow: 0 1px 30px var(--primary-color);

    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        box-shadow: none;

    }
}
.wrapper:after {
    content: '';
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:1000;
    background: repeating-linear-gradient(0deg, #111 0px, #111 .5px, transparent 1px, transparent 2.5px);
    background-size:100% 50px;
    animation: lines 2s ease-out infinite;
    opacity:0.3;
    mix-blend-mode: color-burn;
    pointer-events: none;
}
@keyframes lines {
    0% {
       background-position:0px 0px;
    }
    100% {
       background-position:0px 25px;
    }
 }
/* Welcome Screen */
.welcome-section {
    height: 100vh;

    position: relative;
}
.welcome-section > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.welcome-section > .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: inherit;
}
.welcome-container {
    display: flex;
    align-items: center;
}
.welcome-row {
    justify-content: center;
    width: 100%;
}
h1 {
    text-align: center;
    font-family: 'Lowrider Bold Italic';
    font-size: 72px;
    animation-duration: 0.08s;
    /* animation-name: textflicker; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h1 > span {
    color: var(--primary-color)
}
.welcome-content p {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'stormfaze';
    color: var(--fifth-color);
}
.welcome-content p span {
    animation-duration: 5s;
    /* animation-name: colorChanger; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.welcome-content p span:before {
    content: "FUTURE";
    position: absolute;
    overflow: hidden;
    color: var(--fourth-color);
    width: 100%;
    z-index: 5;
    text-shadow: none;
    text-align: left;
    /* animation: flicker 3s linear infinite; */
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: .99;
        text-shadow: -1px -1px 0 outline, 1px -1px 0 outline, -1px 1px 0 outline, 1px 1px 0 outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes colorChanger {
    from {color: var(--fourth-color)}
    to {color: var(--primary-color)}
}
.go-button {
    display: block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    text-transform: uppercase;
    font-family: 'Lowrider Bold Italic';
    font-size: 26px;
    position: absolute;
    z-index: 1001;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    animation-duration: 1s;
    animation-name: btn-opacity;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
.go-button img {
    width: 70%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
}
.go-button p {
    font-family: 'VCR Mono';
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    animation-duration: 0.08s;
    /* animation-name: textflickerMini; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes btn-opacity {
    from {opacity: .5;}
    to {opacity: 1;}
}

@keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
  }


@media(max-width: 767px) {
    h1 {
        font-size: 48px;
    }
    .welcome-content p {
        font-size: 32px;
    }
    .welcome-row {
        width: unset;
    }
}
/* SECTIONS */
.light {
    background-color: var(--third-color);
}
.dark {
    background-color: var(--secondary-color);
}
.content {
    padding: 30px 0;
}
.section-title {
    font-size: 30px;
    font-family: 'saved by zero';
    margin-bottom: 20px;
    color: var(--fifth-color);
}
.light h2 {
    text-align: start;
}
.dark h2 {
    text-align: end;
}
p {
    padding: 10px 0;
    font-size: 18px;
}
section img {
    width: 100%;
    object-fit: cover;
}
@media(max-width: 767px) {
    .section-title {
        font-size: 24px;
    }
}
.who-am-i-section {
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/welcome-screen-background2.webp);
    min-height: 100vh;
}
