* {
    box-sizing: border-box;
}
html {
    --primary-color: #F2387C;
    --secondary-color: #372340;
    --third-color: #342E59;
    --fourth-color: #F2E85E;
    --fifth-color: #F2BC79;
    height: -webkit-fill-available;
}
/* FONTS */
@font-face {
	font-family: 'Lowrider Bold';
	src: url('../fonts/Lowrider Bold.eot');
	src: local('☺'), url('../fonts/Lowrider Bold.woff') format('woff'), url('../fonts/Lowrider Bold.ttf') format('truetype'), url('../fonts/Lowrider Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lowrider Bold Italic';
	src: url('../fonts/Lowrider Bold Italic.eot');
	src: local('☺'), url('../fonts/Lowrider Bold Italic.woff') format('woff'), url('../fonts/Lowrider Bold Italic.ttf') format('truetype'), url('../fonts/Lowrider Bold Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'saved by zero';
	src: url('../fonts/saved by zero rg.eot');
	src: local('☺'), url('../fonts/saved by zero rg.woff') format('woff'), url('../fonts/saved by zero rg.ttf') format('truetype'), url('../fonts/saved by zero rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'stormfaze';
	src: url('../fonts/stormfaze.eot');
	src: local('☺'), url('../fonts/stormfaze.woff') format('woff'), url('../fonts/stormfaze.ttf') format('truetype'), url('../fonts/stormfaze.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'VCR Mono';
	src: url('../fonts/VCR Mono.eot');
	src: local('☺'), url('../fonts/VCR Mono.woff') format('woff'), url('../fonts/VCR Mono.ttf') format('truetype'), url('../fonts/VCR Mono.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Body */
body {
    font-family: 'VCR Mono';
    min-width: 150px;
    color: white;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
body.lock {
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
    background: var(--fifth-color);
    transition: .3s;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--fourth-color);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1111;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.overlay.show {
    visibility: visible;
    opacity: 1;
}
.v-centered {
    align-items: center;
}
.v-centered-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}